In [32]:
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data_df = pd.read_csv('./datasets/heterogenity/original/dataset_25_2.5.csv', header=None)

print(data_df)

            0         1         2         3         4         5         6    \
0     -6.000000 -6.000000 -6.000000 -6.000000 -6.000000 -6.000000 -6.000000
1     -6.000000 -6.000000 -6.000000 -5.202411 -6.000000 -6.000000 -6.000000
2     -5.760217 -5.757227 -6.000000 -6.000000 -6.000000 -5.468414 -6.000000
3     -5.638721 -6.000000 -6.000000 -5.632910 -6.000000 -6.000000 -6.000000
4     -6.000000 -5.516357 -6.000000 -6.000000 -6.000000 -6.000000 -5.706641
...         ...       ...       ...       ...       ...       ...       ...
21919  0.000000  0.000000 -0.905273  0.000000  1.000000 -1.835531 -5.000000
21920 -1.000000 -0.674072  0.000000 -4.334269 -4.000000 -4.000000 -2.653239
21921 -4.159871 -4.415894 -3.000000 -1.407572 -1.596598 -2.000000 -1.000000
21922 -2.710205 -1.706630 -2.000000 -2.000000 -1.000000 -0.692348  0.000000
21923 -2.000000 -1.000000 -1.000000  0.000000  0.000000  0.000000  0.000000

            7         8         9    ...  362  363  364  365  366  367  368  \
0     -6.000000 -6.000000 -6.000000  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1     -6.000000 -5.735986 -5.218424  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2     -6.000000 -6.000000 -5.258350  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3     -6.000000 -5.080367 -6.000000  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4     -6.000000 -6.000000 -6.000000  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...         ...       ...       ...  ...  ...  ...  ...  ...  ...  ...  ...
21919 -5.000000 -3.000000 -2.000000  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
21920 -1.000000 -2.000000 -1.000000  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
21921  0.000000  0.000000  0.000000  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
21922  0.000000  0.000000  0.000000  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
21923 -0.463937  0.000000  0.456787  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0

       369       370  371
0      0.0  0.000000  0.0
1      0.0  0.000000  0.0
2      0.0  0.000000  0.0
3      0.0  0.000000  0.0
4      0.0  0.000000  0.0
...    ...       ...  ...
21919  0.0  0.000000  0.0
21920  0.0  0.000000  0.0
21921  0.0 -0.170227  0.0
21922  0.0  0.000000  0.0
21923  0.0  0.000000  0.0

[21924 rows x 372 columns]

In [33]:
label_df = pd.read_csv('./datasets/heterogenity/original/dataset_labels_25_2.5.csv')
print(label_df)

      user    device     gt
0        a  nexus4_1  stand
1        a  nexus4_1  stand
2        a  nexus4_1  stand
3        a  nexus4_1  stand
4        a  nexus4_1  stand
...    ...       ...    ...
21919    i  s3mini_2   walk
21920    i  s3mini_2   walk
21921    i  s3mini_2   walk
21922    i  s3mini_2   walk
21923    i  s3mini_2   walk

[21924 rows x 3 columns]

In [34]:
dataset_df = pd.concat([data_df,label_df], axis=1)
print(dataset_df)

              0         1         2         3         4         5         6  \
0     -6.000000 -6.000000 -6.000000 -6.000000 -6.000000 -6.000000 -6.000000
1     -6.000000 -6.000000 -6.000000 -5.202411 -6.000000 -6.000000 -6.000000
2     -5.760217 -5.757227 -6.000000 -6.000000 -6.000000 -5.468414 -6.000000
3     -5.638721 -6.000000 -6.000000 -5.632910 -6.000000 -6.000000 -6.000000
4     -6.000000 -5.516357 -6.000000 -6.000000 -6.000000 -6.000000 -5.706641
...         ...       ...       ...       ...       ...       ...       ...
21919  0.000000  0.000000 -0.905273  0.000000  1.000000 -1.835531 -5.000000
21920 -1.000000 -0.674072  0.000000 -4.334269 -4.000000 -4.000000 -2.653239
21921 -4.159871 -4.415894 -3.000000 -1.407572 -1.596598 -2.000000 -1.000000
21922 -2.710205 -1.706630 -2.000000 -2.000000 -1.000000 -0.692348  0.000000
21923 -2.000000 -1.000000 -1.000000  0.000000  0.000000  0.000000  0.000000

              7         8         9  ...  365  366  367  368  369       370  \
0     -6.000000 -6.000000 -6.000000  ...  0.0  0.0  0.0  0.0  0.0  0.000000
1     -6.000000 -5.735986 -5.218424  ...  0.0  0.0  0.0  0.0  0.0  0.000000
2     -6.000000 -6.000000 -5.258350  ...  0.0  0.0  0.0  0.0  0.0  0.000000
3     -6.000000 -5.080367 -6.000000  ...  0.0  0.0  0.0  0.0  0.0  0.000000
4     -6.000000 -6.000000 -6.000000  ...  0.0  0.0  0.0  0.0  0.0  0.000000
...         ...       ...       ...  ...  ...  ...  ...  ...  ...       ...
21919 -5.000000 -3.000000 -2.000000  ...  0.0  0.0  0.0  0.0  0.0  0.000000
21920 -1.000000 -2.000000 -1.000000  ...  0.0  0.0  0.0  0.0  0.0  0.000000
21921  0.000000  0.000000  0.000000  ...  0.0  0.0  0.0  0.0  0.0 -0.170227
21922  0.000000  0.000000  0.000000  ...  0.0  0.0  0.0  0.0  0.0  0.000000
21923 -0.463937  0.000000  0.456787  ...  0.0  0.0  0.0  0.0  0.0  0.000000

       371  user    device     gt
0      0.0     a  nexus4_1  stand
1      0.0     a  nexus4_1  stand
2      0.0     a  nexus4_1  stand
3      0.0     a  nexus4_1  stand
4      0.0     a  nexus4_1  stand
...    ...   ...       ...    ...
21919  0.0     i  s3mini_2   walk
21920  0.0     i  s3mini_2   walk
21921  0.0     i  s3mini_2   walk
21922  0.0     i  s3mini_2   walk
21923  0.0     i  s3mini_2   walk

[21924 rows x 375 columns]

In [35]:
test_df = dataset_df.loc[ (dataset_df['user'] == 'a') | (dataset_df['user'] == 'b') | (dataset_df['user'] == 'c')] 
print(test_df)

             0          1         2         3         4         5         6  \
0    -6.000000  -6.000000 -6.000000 -6.000000 -6.000000 -6.000000 -6.000000
1    -6.000000  -6.000000 -6.000000 -5.202411 -6.000000 -6.000000 -6.000000
2    -5.760217  -5.757227 -6.000000 -6.000000 -6.000000 -5.468414 -6.000000
3    -5.638721  -6.000000 -6.000000 -5.632910 -6.000000 -6.000000 -6.000000
4    -6.000000  -5.516357 -6.000000 -6.000000 -6.000000 -6.000000 -5.706641
...        ...        ...       ...       ...       ...       ...       ...
7051 -4.000000 -11.555243 -7.458287 -5.377486 -4.495958 -4.000000 -3.000000
7052 -4.000000  -1.462500 -4.193182 -9.000000 -9.975000 -7.000000 -6.537500
7053 -4.000000  -6.548433 -9.390788 -9.000000 -8.000000 -7.000000 -6.000000
7054 -4.000000  -4.000000 -4.000000 -4.000000 -4.000000 -5.000000 -5.000000
7055 -5.000000  -4.345211 -4.000000 -4.436854 -5.000000 -4.000000 -5.000000

             7         8         9  ...  365  366  367  368  369  370  371  \
0    -6.000000 -6.000000 -6.000000  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1    -6.000000 -5.735986 -5.218424  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2    -6.000000 -6.000000 -5.258350  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3    -6.000000 -5.080367 -6.000000  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4    -6.000000 -6.000000 -6.000000  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...        ...       ...       ...  ...  ...  ...  ...  ...  ...  ...  ...
7051 -3.000000 -4.000000 -5.000000  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
7052 -7.000000 -7.000000 -6.000000  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
7053 -5.465576 -5.000000 -5.000000  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
7054 -7.417079 -5.564453 -7.270072  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
7055 -4.415446 -3.000000 -5.990674  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0

      user    device          gt
0        a  nexus4_1       stand
1        a  nexus4_1       stand
2        a  nexus4_1       stand
3        a  nexus4_1       stand
4        a  nexus4_1       stand
...    ...       ...         ...
7051     c  s3mini_2        walk
7052     c  s3mini_2    stairsup
7053     c  s3mini_2  stairsdown
7054     c  s3mini_2  stairsdown
7055     c  s3mini_2        bike

[7056 rows x 375 columns]

In [36]:
train_df = dataset_df.loc[ (dataset_df['user'] != 'a') & (dataset_df['user'] != 'b') & (dataset_df['user'] != 'c')] 
print(train_df)

              0         1         2         3         4         5         6  \
7056  -2.000000 -2.000000 -2.000000 -2.000000 -2.000000 -2.000000 -2.000000
7057  -2.000000 -2.000000 -2.000000 -2.000000 -2.000000 -2.000000 -2.000000
7058  -2.000000 -2.000000 -2.000000 -2.000000 -2.000000 -2.000000 -2.000000
7059  -2.000000 -2.000000 -2.000000 -2.000000 -2.000000 -2.000000 -2.000000
7060  -2.000000 -2.000000 -2.000000 -2.000000 -2.000000 -2.000000 -2.000000
...         ...       ...       ...       ...       ...       ...       ...
21919  0.000000  0.000000 -0.905273  0.000000  1.000000 -1.835531 -5.000000
21920 -1.000000 -0.674072  0.000000 -4.334269 -4.000000 -4.000000 -2.653239
21921 -4.159871 -4.415894 -3.000000 -1.407572 -1.596598 -2.000000 -1.000000
21922 -2.710205 -1.706630 -2.000000 -2.000000 -1.000000 -0.692348  0.000000
21923 -2.000000 -1.000000 -1.000000  0.000000  0.000000  0.000000  0.000000

              7    8         9  ...  365  366  367  368  369       370  371  \
7056  -2.000000 -2.0 -2.000000  ...  0.0  0.0  0.0  0.0  0.0  0.000000  0.0
7057  -2.000000 -2.0 -2.000000  ...  0.0  0.0  0.0  0.0  0.0  0.000000  0.0
7058  -2.000000 -2.0 -2.000000  ...  0.0  0.0  0.0  0.0  0.0  0.000000  0.0
7059  -2.000000 -2.0 -2.000000  ...  0.0  0.0  0.0  0.0  0.0  0.000000  0.0
7060  -2.000000 -2.0 -2.000000  ...  0.0  0.0  0.0  0.0  0.0  0.000000  0.0
...         ...  ...       ...  ...  ...  ...  ...  ...  ...       ...  ...
21919 -5.000000 -3.0 -2.000000  ...  0.0  0.0  0.0  0.0  0.0  0.000000  0.0
21920 -1.000000 -2.0 -1.000000  ...  0.0  0.0  0.0  0.0  0.0  0.000000  0.0
21921  0.000000  0.0  0.000000  ...  0.0  0.0  0.0  0.0  0.0 -0.170227  0.0
21922  0.000000  0.0  0.000000  ...  0.0  0.0  0.0  0.0  0.0  0.000000  0.0
21923 -0.463937  0.0  0.456787  ...  0.0  0.0  0.0  0.0  0.0  0.000000  0.0

       user    device     gt
7056      d  nexus4_1  stand
7057      d  nexus4_1  stand
7058      d  nexus4_1  stand
7059      d  nexus4_1  stand
7060      d  nexus4_1  stand
...     ...       ...    ...
21919     i  s3mini_2   walk
21920     i  s3mini_2   walk
21921     i  s3mini_2   walk
21922     i  s3mini_2   walk
21923     i  s3mini_2   walk

[14868 rows x 375 columns]

In [37]:
def print_dataset_statistics(train_reference_df, test_reference_df):

    # Count the elements in the sets
    num_train_data = (len(train_reference_df))
    num_train_data_stand = sum(train_reference_df['gt'] == 'stand')
    num_train_data_sit = sum(train_reference_df['gt'] == 'sit')
    num_train_data_walk = sum(train_reference_df['gt'] == 'walk')
    num_train_data_bike = sum(train_reference_df['gt'] == 'bike')
    num_train_data_stairs_up = sum(train_reference_df['gt'] == 'stairsup')
    num_train_data_stairs_down = sum(train_reference_df['gt'] == 'stairsdown')

    num_test_data = (len(test_reference_df))
    num_test_data_stand = sum(test_reference_df['gt'] == 'stand')
    num_test_data_sit = sum(test_reference_df['gt'] == 'sit')
    num_test_data_walk = sum(test_reference_df['gt'] == 'walk')
    num_test_data_bike = sum(test_reference_df['gt'] == 'bike')
    num_test_data_stairs_up = sum(test_reference_df['gt'] == 'stairsup')
    num_test_data_stairs_down = sum(test_reference_df['gt'] == 'stairsdown')

    total_df_data = num_train_data + num_test_data

    print('TRAIN SET')
    print('\tStand:\t\t{} ({:.2f}%)'.format(num_train_data_stand, 100 * num_train_data_stand / len(train_reference_df)))
    print('\tSit:\t\t{} ({:.2f}%)'.format(num_train_data_sit, 100 * num_train_data_sit / len(train_reference_df)))
    print('\tWalk:\t\t{} ({:.2f}%)'.format(num_train_data_walk, 100 * num_train_data_walk / len(train_reference_df)))
    print('\tBike:\t\t{} ({:.2f}%)'.format(num_train_data_bike, 100 * num_train_data_bike / len(train_reference_df)))
    print('\tStairs up:\t{} ({:.2f}%)'.format(num_train_data_stairs_up, 100 * num_train_data_stairs_up / len(train_reference_df)))
    print('\tStairs down:\t{} ({:.2f}%)'.format(num_train_data_stairs_down, 100 * num_train_data_stairs_down / len(train_reference_df)))
    print('')
    print('\tPercentage of total\t{} ({:.2f}%)'.format(num_train_data, 100 * num_train_data/ total_df_data))
    print('')

    print('TEST SET')
    
    print('\tStand:\t\t{} ({:.2f}%)'.format(num_test_data_stand, 100 * num_test_data_stand / len(test_reference_df)))
    print('\tSit:\t\t{} ({:.2f}%)'.format(num_test_data_sit, 100 * num_test_data_sit / len(test_reference_df)))
    print('\tWalk:\t\t{} ({:.2f}%)'.format(num_test_data_walk, 100 * num_test_data_walk / len(test_reference_df)))
    print('\tBike:\t\t{} ({:.2f}%)'.format(num_test_data_bike, 100 * num_test_data_bike / len(test_reference_df)))
    print('\tStairs up:\t{} ({:.2f}%)'.format(num_test_data_stairs_up, 100 * num_test_data_stairs_up / len(test_reference_df)))
    print('\tStairs down:\t{} ({:.2f}%)'.format(num_test_data_stairs_down, 100 * num_test_data_stairs_down / len(test_reference_df)))
    print('')
    print('\tPercentage of total\t{} ({:.2f}%)'.format(num_test_data, 100 * num_test_data/ total_df_data))

print_dataset_statistics(train_df, test_df)

TRAIN SET
	Stand:		2533 (17.04%)
	Sit:		3183 (21.41%)
	Walk:		3430 (23.07%)
	Bike:		1956 (13.16%)
	Stairs up:	2161 (14.53%)
	Stairs down:	1605 (10.79%)

	Percentage of total	14868 (67.82%)

TEST SET
	Stand:		1106 (15.67%)
	Sit:		1470 (20.83%)
	Walk:		1512 (21.43%)
	Bike:		853 (12.09%)
	Stairs up:	1276 (18.08%)
	Stairs down:	839 (11.89%)

	Percentage of total	7056 (32.18%)

In [38]:
train_df_data = train_df.drop(['user', 'device', 'gt'], 1, inplace=False)
train_df_labels = train_df[['user', 'device', 'gt']]

test_df_data = test_df.drop(['user', 'device', 'gt'], 1, inplace=False)
test_df_labels = test_df[['user', 'device', 'gt']]

In [39]:
print(train_df_data)

            0         1         2         3         4         5         6    \
7056  -2.000000 -2.000000 -2.000000 -2.000000 -2.000000 -2.000000 -2.000000
7057  -2.000000 -2.000000 -2.000000 -2.000000 -2.000000 -2.000000 -2.000000
7058  -2.000000 -2.000000 -2.000000 -2.000000 -2.000000 -2.000000 -2.000000
7059  -2.000000 -2.000000 -2.000000 -2.000000 -2.000000 -2.000000 -2.000000
7060  -2.000000 -2.000000 -2.000000 -2.000000 -2.000000 -2.000000 -2.000000
...         ...       ...       ...       ...       ...       ...       ...
21919  0.000000  0.000000 -0.905273  0.000000  1.000000 -1.835531 -5.000000
21920 -1.000000 -0.674072  0.000000 -4.334269 -4.000000 -4.000000 -2.653239
21921 -4.159871 -4.415894 -3.000000 -1.407572 -1.596598 -2.000000 -1.000000
21922 -2.710205 -1.706630 -2.000000 -2.000000 -1.000000 -0.692348  0.000000
21923 -2.000000 -1.000000 -1.000000  0.000000  0.000000  0.000000  0.000000

            7    8         9    ...  362  363  364  365  366  367  368  369  \
7056  -2.000000 -2.0 -2.000000  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
7057  -2.000000 -2.0 -2.000000  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
7058  -2.000000 -2.0 -2.000000  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
7059  -2.000000 -2.0 -2.000000  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
7060  -2.000000 -2.0 -2.000000  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...         ...  ...       ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
21919 -5.000000 -3.0 -2.000000  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
21920 -1.000000 -2.0 -1.000000  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
21921  0.000000  0.0  0.000000  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
21922  0.000000  0.0  0.000000  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
21923 -0.463937  0.0  0.456787  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

            370  371
7056   0.000000  0.0
7057   0.000000  0.0
7058   0.000000  0.0
7059   0.000000  0.0
7060   0.000000  0.0
...         ...  ...
21919  0.000000  0.0
21920  0.000000  0.0
21921 -0.170227  0.0
21922  0.000000  0.0
21923  0.000000  0.0

[14868 rows x 372 columns]

In [40]:
print(train_df_labels)

      user    device     gt
7056     d  nexus4_1  stand
7057     d  nexus4_1  stand
7058     d  nexus4_1  stand
7059     d  nexus4_1  stand
7060     d  nexus4_1  stand
...    ...       ...    ...
21919    i  s3mini_2   walk
21920    i  s3mini_2   walk
21921    i  s3mini_2   walk
21922    i  s3mini_2   walk
21923    i  s3mini_2   walk

[14868 rows x 3 columns]

In [41]:
train_df_data.to_csv('./datasets/heterogenity/train/dataset_25_2.5.csv', header=False, index=False)
train_df_labels.to_csv('./datasets/heterogenity/train/dataset_labels_25_2.5.csv', header=True, index=False)
test_df_data.to_csv('./datasets/heterogenity/test/dataset_25_2.5.csv', header=False, index=False)
test_df_labels.to_csv('./datasets/heterogenity/test/dataset_labels_25_2.5.csv', header=True, index=False)